{% extends "home/sample-page.html" %}
{% block title %} Gowitness Results {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
   <div class="pcoded-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
         <div class="page-block">
            <div class="row align-items-center">
               <div class="col-md-12">
                  <div class="page-header-title">
                     <h5 class="m-b-10">Gowitness Results</h5>
                  </div>
                  <ul class="breadcrumb">
                     <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                     <li class="breadcrumb-item"><a href="#">Gowitness Results</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
      <div class="row">
         <!-- [ sample-page ] start -->
         <div class="col-sm-12">
            <div class="card">
               <div class="card-header">
                  <h3>Apollo Web App</h3>
                  <div class="card-header-right">
                     <div class="btn-group card-option">
                        <button type="button" class="btn dropdown-toggle btn-icon" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                        </button>
                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-end">
                           <li class="dropdown-item full-card"><a href="#"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                           <li class="dropdown-item minimize-card"><a href="#"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                           <li class="dropdown-item reload-card"><a href="#"><i class="feather icon-refresh-cw"></i> reload</a></li>
                           <li class="dropdown-item close-card"><a href="#"><i class="feather icon-trash"></i> remove</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="card-body">
                   <p>Apollo is an Open Source Intelligence (OSINT) tool aimed at supporting Red Teaming activities. The tool allows: </p>
                  <ul>
                     <li>To perform automatic searches on domains and subdomains related to a specific target;</li>
                     <li>To identify URLs and vulnerable access points through databases of known vulnerabilities;</li>
                     <li>To obtain mailing lists of email addresses associated with an organization's employees, potentially useful for simulating phishing attacks within Red Teaming operations.</li>
                   </ul>
               </div>
               <!-- Da provare -->
               <div class="card px-5">
                  <div class="card-header">
                     <h3>Gowitness Images</h3>
                  </div>
                  <div class="card-body">
                     {% for url, image in image_urls %}
                     <div class="image-container" style="margin-top: 30px; padding: 15px; border: 1px solid #ddd; border-radius: 8px;">
                        <h2>{{ url }}</h2>
                        <img src="{{ url_for('static', filename='assets/gowitness/' ~ image) }}" alt="{{ url }}" style="max-width: 100%; height: auto;">
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- [ sample-page ] end -->
   </div>
   <!-- [ Main Content ] end -->
</div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
